.t-nft{
    max-width: 1250px;
    width: 100%;
    margin:30px auto;
    padding: 15px 0;
}
.nft-colln{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:30px auto;
}